
@charset "UTF-8";

/* Reset */
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,nav,section,article,header,footer,main,aside,dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption,span,select {margin:0;padding:0;box-sizing: border-box; font-family: 'Pretendard GOV';}
body,input,select,textarea,button,img,fieldset {border:none;}
ul,ol,li{ list-style: none;}
table{width:100%;border-spacing:0;border-collapse:collapse; table-layout: fixed;}
// table{width:100%;border-spacing:0;border-collapse:collapse;}
address,cite,code,em,i{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button,a {vertical-align:middle;}
u,ins,a{text-decoration:none;}
button { cursor: pointer;background: none;border:none;}
caption > div, legend, .hide {    
    overflow: hidden;
    display: block;
    position: absolute;
    border: 0;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
}
html {
  -webkit-text-size-adjust:none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}
::-webkit-scrollbar-track {
  background-color: #eef2f7;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #d6e0eb;
}

/* Normalize */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { -webkit-appearance:none;}
input[type="number"]{ -moz-appearance:textfield;}
input[type="number"],
input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="date"], 
textarea { -webkit-appearance:none; -moz-appearance:none; appearance:none; border-radius:0;}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s;
  -webkit-text-fill-color: #434554 !important;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
	transition: background-color 5000s;
  -webkit-text-fill-color: #434554 !important;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}


html{
    font-size: 62.5%; 
}



@font-face {
  font-family: "HF Logo";
  src: url("../fonts/HF_logo.woff") format("woff"),
       url("../fonts/HF_logo.ttf") format("truetype"),
       url("../fonts/HF_logo.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

