@charset "UTF-8";

.voc { width: 100%; }
.voc .blind,
.voc legend,
.voc caption { overflow: hidden; visibility: hidden; position: absolute; left: -9999px; width: 0; height: 0; color: transparent; font-size: 0;}
.voc button {background:none; border: 0;cursor: pointer;}

.voc .reply {padding-top:3.67em;}
.voc .reply button{display:block; }
.voc .reply li{position:relative;padding:17px 0 17px 17px;border-bottom:var(--hf-border-width-static-regular) solid var(--hf-color-border-gray-light);color:var(--hf-color-text-subtle);}
.voc .reply .write-area{overflow:hidden;padding-top:0.67em;}
.voc .reply .write-area textarea,
.voc .reply .write-area button{display:block;float:left;}
.voc .reply textarea { width:90%;height:88px; border: var(--hf-border-width-static-regular) solid var(--hf-color-light-gray-extended-20); }
.voc .reply textarea { border-right:0; }
.voc .reply li textarea{width:729px;}
.voc .reply button.write{width:90px;height:90px;border:var(--hf-border-width-static-regular) solid var(--hf-color-light-gray-extended-20)}

/* paging
.modal-body  .paging-comm {overflow:hidden;width:100%;text-align:center;margin-top:4em;}
.modal-body  .paging-comm .link_page{display:inline-block;width:17px;height:22px;margin:0 6px;color:#737373;text-indent:0;vertical-align: middle;}
.modal-body  .paging-comm .link_page.on{font-weight:bold;color:#1a1a1a;border-bottom:1px solid #666;}
.modal-body  .paging-comm .ico_comm{display:inline-block;width:28px;height:28px;margin:0 -2px;border:1px solid #e6e6e6;padding:0;font-size:0;vertical-align:middle;background:url(../img/btn1.png) no-repeat 0 0;}
.modal-body  .paging-comm .btn_fst{background-position:6px -25px}
.modal-body  .paging-comm .btn_prev{margin:0 6px 0 -2px;background-position:-26px -25px}
.modal-body  .paging-comm .btn_next{margin:0 -2px 0 6px;background-position:-57px -25px}
.modal-body  .paging-comm .btn_lst{background-position:-89px -25px}
.modal-body  .paging-comm .txt_lst{display:none;}
.modal-body  .paging-comm.ty1{margin-top:2em;}*/

.modal-body .comment-data .writer {
	margin-right: 75px;
    font-size: 18px;
    color: var(--hf-color-text-muted);
}
.modal-body .comment-data li{position:relative;padding:17px 0 17px 17px;border-bottom:var(--hf-border-width-static-regular) solid var(--hf-color-border-gray-light);color:var(--hf-color-text-subtle);}
.modal-body .comment-data pre {
    font-family: 'Nanum Gothic', '나눔고딕', 'Malgun Gothic', '맑은고딕', '애플고딕', '돋움', '굴림';
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.045em;
}
.voc .reply .txt{padding:var(--hf-padding-4) 17px 0 0;}
.btn-area{min-width:100px;background-position:64% 4px;}
.voc .reply .write-area div.cmt-input {  display: block;  float: left; }
.voc .reply div.cmt-input { width: 749px;  height: 88px;  border: var(--hf-border-width-static-regular) solid var(--hf-color-light-gray-extended-20);  border-right: 0; }

.voc .reply .title { float:left; background:url('../img/bg_voc.gif') no-repeat; padding:0 0 var(--hf-padding-4) 35px; }
.voc .reply .title span{ font-size:20px; color:#1b7a73 }
.voc .reply .rating { float:right; }

.voc .reply .result { padding: var(--hf-padding-7) 0; text-align:right; }
.voc .reply .result button, .modal-body button { border : var(--hf-border-width-static-regular) solid var(--hf-color-light-gray-extended-20); padding:var(--hf-padding-4); }
.voc .reply .result .btn, .modal-footer .btn, .modal-body .btn {
	display: inline-block;
    padding: var(--hf-number-4) var(--hf-padding-5);
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: var(--hf-border-width-static-regular) solid transparent;
    border-radius: var(--hf-radius-small1);

}

.voc .reply .result .btn-default, .modal-body .btn-default {
    color: var(--hf-color-light-gray-80);
    background-color: var(--hf-color-surface-white);
    border-color: var(--hf-color-light-gray-extended-20);
}

.modal-body .comment-data {
	max-height: 300px;
    overflow-y: scroll;
}

.modal-body .more {
	padding: 15px 0 0 0;
    text-align: right;
}

/* Modal */

.btn-warning {
	font-family: inherit;
    color: var(--hf-color-light-gray-0);
    background-color: #f0ad4e;
    border-color: #eea236;
}
.modal-open {
    overflow: hidden
}
/*
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}
*/
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%)
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: var(--hf-number-6)
}
.modal-content {
    position: relative;
    background-color: var(--hf-color-surface-white);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: var(--hf-border-width-static-regular) solid var(--hf-color-light-gray-40);
    border: var(--hf-border-width-static-regular) solid rgba(0, 0, 0, .2);
    border-radius: var(--hf-radius-medium1);
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px var(--hf-color-light-alpha-black50)
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: var(--hf-color-light-gray-100)
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5
}
.modal-header {
    padding: 15px;
    border-bottom: var(--hf-border-width-static-regular) solid var(--hf-color-border-gray-light)
}
.modal-header .close {
    margin-top: calc(var(--hf-gap-1) * -1)
}
.modal-title {
    margin: 0;
    line-height: 1.42857143
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: var(--hf-border-width-static-regular) solid var(--hf-color-border-gray-light)
}
.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px
}
.modal-footer .btn-group .btn+.btn {
    margin-left: calc(var(--hf-number-1) * -1)
}
.modal-footer .btn-block+.btn-block {
    margin-left: 0
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px var(--hf-color-light-alpha-black50)
    }
    .modal-sm {
        width: 300px
    }
}
@media (min-width: 992px) {
    .modal-lg {
        width: 630px
    }
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* 별점 */
 /*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
 @media print{
 	*,:after,:before{
 		color:var(--hf-color-light-gray-100)!important;
 		text-shadow:none!important;
 		background:0 0!important;
 		-webkit-box-shadow:none!important;
 		box-shadow:none!important}
 }
@font-face{
	font-family:'Glyphicons Halflings';
	src:url(../fonts/glyphicons-halflings-regular.eot);
	src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
		url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),
		url(../fonts/glyphicons-halflings-regular.woff) format('woff'),
		url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),
		url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
.glyphicon{
	position:relative;
	top:1px;
	display:inline-block;
	font-family:'Glyphicons Halflings';
	font-style:normal;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.glyphicon-star:before{content:"\e006"}
.glyphicon-star-empty:before{content:"\e007"}


.satisfaction_rank input:focus{ 
	outline: 3px solid #FF0000;	
	font-weight: bold;
}