<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="ko">
	<meta property="og:site_name" content="한국주택금융공사">
	<meta name="twitter:card" content="summary">
	<title>한국주택금융공사</title>

	<link rel="stylesheet" type="text/css" href="/resources/js/krds/krds.css">
	<link rel="stylesheet" type="text/css" href="/resources/js/krds/pattern/output.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/hf_home_ko.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/board.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/header.content.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/footer.content.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/index.content.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/sub.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/sub2.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/sub3.css">

	<!-- JavaScript 파일들 -->
	<script type="text/javascript" src="/resources/js/jquery/jquery-ui-1.12.1.min.js"></script>
	<script type="text/javascript" src="/resources/js/jquery/jquery-2.2.4.min.js"></script>

	<script type="text/javascript" src="/resources/js/krds/krds.js"></script>
	<script type="text/javascript" src="/resources/js/krds/pattern/pattern.js"></script>
	<script type="text/javascript" src="/resources/js/krds/krds.custom.home.js"></script>
</head>
<body>

	<div class="contents">

		<!-- ===== 유형 1. 기본 unordered - decimal(도트) ===== -->
		<div class="hf_text_list_cont">
			<ul class="krds-info-list decimal">
				<li>텍스트 목록 레벨1</li>
				<li>텍스트 목록 레벨1</li>
				<li>텍스트 목록 레벨1</li>
			</ul>
		</div>

		<!-- ===== 유형 2. 기본 unordered - dash ===== -->
		<div class="hf_text_list_cont">
			<ul class="krds-info-list dash">
				<li>텍스트 목록 레벨1</li>
				<li>텍스트 목록 레벨1</li>
				<li>텍스트 목록 레벨1</li>
			</ul>
		</div>

		<!-- ===== 유형 3. 기본 unordered - hollow ===== -->
		<div class="hf_text_list_cont">
			<ul class="krds-info-list hollow">
				<li>텍스트 목록 레벨1</li>
				<li>텍스트 목록 레벨1</li>
				<li>텍스트 목록 레벨1</li>
			</ul>
		</div>

		<!-- ===== 유형 4. ordered - 숫자(1. 2. 3.) ===== -->
		<div class="hf_text_list_cont">
			<ol class="krds-info-list ordered">
				<li><span class="num">1. </span>텍스트 목록 레벨1</li>
				<li><span class="num">2. </span>텍스트 목록 레벨1</li>
				<li><span class="num">3. </span>텍스트 목록 레벨1</li>
			</ol>
		</div>

		<!-- ===== 유형 5. ordered - 원문자(①②③) + dash 하위 ===== -->
		<div class="hf_text_list_cont">
			<ol class="krds-info-list ordered">
				<li>
					<span class="num">①</span>공통사항
					<ul class="krds-info-list dash">
						<li>당초 채권보전조치가 있는 경우 해당 채권보전조치보다 불리한 조건으로의 변경은 불가</li>
						<li>피보증인이 사고처리 된 경우 기한연장만 가능</li>
					</ul>
				</li>
				<li>
					<span class="num">②</span>기한연장
					<ul class="krds-info-list dash">
						<li>임차보증금 7억원(서울/경기/인천 외 소재가구 5억원) 초과 시 1회만 허용</li>
					</ul>
				</li>
			</ol>
		</div>

		<!-- ===== 유형 6. 혼합 중첩 : decimal > dash > hollow ===== -->
		<div class="hf_text_list_cont">
			<ul class="krds-info-list decimal">
				<li>텍스트 목록 레벨1</li>
				<li>
					텍스트 목록 레벨1
					<ul class="krds-info-list dash">
						<li>텍스트 목록 레벨2</li>
						<li>
							텍스트 목록 레벨2
							<ul class="krds-info-list hollow">
								<li>텍스트 목록 레벨3</li>
								<li>텍스트 목록 레벨3</li>
							</ul>
						</li>
						<li>텍스트 목록 레벨2</li>
					</ul>
				</li>
				<li>텍스트 목록 레벨1</li>
			</ul>
		</div>

		<!-- ===== 유형 7. 혼합 중첩 : decimal > dash > ordered / decimal > ordered > hollow ===== -->
		<div class="hf_text_list_cont">
			<ul class="krds-info-list decimal">
				<li>
					텍스트 목록 레벨1
					<ul class="krds-info-list dash">
						<li>
							텍스트 목록 레벨2
							<ol class="krds-info-list ordered">
								<li><span class="num">①</span>텍스트 목록 레벨3</li>
								<li><span class="num">②</span>텍스트 목록 레벨3</li>
							</ol>
						</li>
					</ul>
				</li>
				<li>
					텍스트 목록 레벨1
					<ol class="krds-info-list ordered">
						<li>
							<span class="num">a. </span>텍스트 목록 레벨2
							<ul class="krds-info-list hollow">
								<li>텍스트 목록 레벨3</li>
								<li>텍스트 목록 레벨3</li>
							</ul>
						</li>
					</ol>
				</li>
			</ul>
		</div>

		<!-- ===== 유형 8. ordered 순수 중첩 : 1. > a. > ① ===== -->
		<div class="hf_text_list_cont">
			<ol class="krds-info-list ordered">
				<li><span class="num">1. </span>텍스트 목록 레벨1</li>
				<li>
					<span class="num">2. </span>텍스트 목록 레벨1
					<ol class="krds-info-list ordered">
						<li><span class="num">a. </span>텍스트 목록 레벨2</li>
						<li>
							<span class="num">b. </span>텍스트 목록 레벨2
							<ol class="krds-info-list ordered">
								<li><span class="num">①</span>텍스트 목록 레벨3</li>
								<li><span class="num">②</span>텍스트 목록 레벨3</li>
							</ol>
						</li>
						<li><span class="num">c. </span>텍스트 목록 레벨2</li>
					</ol>
				</li>
				<li><span class="num">3. </span>텍스트 목록 레벨1</li>
			</ol>
		</div>

		<!-- ===== 유형 9. 혼합 중첩 : ordered > dash > ordered / ordered > ordered > hollow ===== -->
		<div class="hf_text_list_cont">
			<ol class="krds-info-list ordered">
				<li>
					<span class="num">1. </span>텍스트 목록 레벨1
					<ul class="krds-info-list dash">
						<li>
							텍스트 목록 레벨2
							<ol class="krds-info-list ordered">
								<li><span class="num">①</span>텍스트 목록 레벨3</li>
								<li><span class="num">②</span>텍스트 목록 레벨3</li>
							</ol>
						</li>
					</ul>
				</li>
				<li>
					<span class="num">2. </span>텍스트 목록 레벨1
					<ol class="krds-info-list ordered">
						<li>
							<span class="num">a. </span>텍스트 목록 레벨2
							<ul class="krds-info-list hollow">
								<li>텍스트 목록 레벨3</li>
								<li>텍스트 목록 레벨3</li>
							</ul>
						</li>
					</ol>
				</li>
			</ol>
		</div>

	</div>

</body>
</html>
