<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="ko">
	<meta property="og:site_name" content="한국주택금융공사">
	<meta property="og:updated_time" content="">
	<meta name="twitter:card" content="summary">
	<title>한국주택금융공사</title>

	<link rel="stylesheet" type="text/css" href="/resources/js/krds/krds.css">
	<link rel="stylesheet" type="text/css" href="/resources/js/krds/pattern/output.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/hf_home_ko.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/board.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/header.content.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/footer.content.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/index.content.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/sub.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/sub2.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/sub3.css">

	<!-- JavaScript 파일들 -->
	<script type="text/javascript" src="/resources/js/jquery/jquery-ui-1.12.1.min.js"></script>
	<script type="text/javascript" src="/resources/js/jquery/jquery-2.2.4.min.js"></script>

	<script type="text/javascript" src="/resources/js/krds/krds.js"></script>
	<script type="text/javascript" src="/resources/js/krds/pattern/pattern.js"></script>
	<script type="text/javascript" src="/resources/js/krds/krds.custom.home.js"></script>
</head>
<body>
	<div data-include="../inc/header.html"></div>

	<div id="container">
		<div class="container_in">

			<!-- contents -->
			<div class="contents">

				<div class="sub_con">

					<!-- 서브제목 있는유형 -->
					<div class="com_pop_cont">
						<div class="pop_cont_area pop01">
							<div class="title_area">
								<button type="button" class="close"></button>
							</div>
							<div class="pop_info_cont">
								<div class="title_area">
									<div class="sub_title">서브제목</div>
									<h2 class="title">제목</h2>
									<div class="text">
										내용
									</div>
								</div>
								<div class="field_btn_cont w100">
									<div class="field_btn_area">
										<button type="button" class="field_btn black end">돌아가기</button>
										<button type="button" class="field_btn blue">로그인하러 가기</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- 기본 유형 -->
					<div class="com_pop_cont">
						<div class="pop_cont_area pop02">
							<div class="title_area">
								<h2 class="title">대제목</h2>
								<button type="button" class="close"></button>
							</div>
							<div class="pop_info_cont">
								<div class="title_area">
									<div class="text">
										내용
									</div>
								</div>
								<div class="field_btn_cont w100">
									<div class="field_btn_area">
										<button type="button" class="field_btn black end">텍스트</button>
										<button type="button" class="field_btn blue">텍스트</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- 버튼 너비 100% 아닐경우 유형 -->
					<div class="com_pop_cont active">
						<div class="pop_cont_area pop02">
							<div class="title_area">
								<h2 class="title">대제목</h2>
								<button type="button" class="close"></button>
							</div>
							<div class="pop_info_cont">
								<div class="title_area">
									<div class="text">
										내용
									</div>
								</div>
								<div class="field_btn_cont">
									<div class="field_btn_area right">
										<button type="button" class="field_btn black end">텍스트</button>
										<button type="button" class="field_btn blue">텍스트</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- 퍼블리싱에서만 추가되는 스크립트 -->
	<script type="text/javascript" src="/resources/js/include.js"></script>
	<!-- //퍼블리싱에서만 추가되는 스크립트 -->
</body>

</html>
