<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="ko">
	<meta property="og:site_name" content="한국주택금융공사">
	<meta name="twitter:card" content="summary">
	<title>한국주택금융공사</title>

	<link rel="stylesheet" type="text/css" href="/resources/js/krds/krds.css">
	<link rel="stylesheet" type="text/css" href="/resources/js/krds/pattern/output.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/hf_home_ko.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/board.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/header.content.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/footer.content.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/index.content.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/sub.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/sub2.css">
	<link rel="stylesheet" type="text/css" href="/resources/css/ex/sub3.css">

	<!-- JavaScript 파일들 -->
	<script type="text/javascript" src="/resources/js/jquery/jquery-ui-1.12.1.min.js"></script>
	<script type="text/javascript" src="/resources/js/jquery/jquery-2.2.4.min.js"></script>

	<script type="text/javascript" src="/resources/js/krds/krds.js"></script>
	<script type="text/javascript" src="/resources/js/krds/pattern/pattern.js"></script>
	<script type="text/javascript" src="/resources/js/krds/krds.custom.home.js"></script>
</head>
<body>

	<div class="contents">

		<div class="hf_text_list_cont">
			<div class="hf-infobox">
				<div class="hf-infobox__head">
					<i class="svg-icon ico_caution" aria-hidden="true"></i>
					<strong class="tit">주의사항</strong>
				</div>
				<div class="hf-infobox__body">
					<p class="lead">이행 청구를 위해서 다음의 사항을 임대차계약 종료 전에 진행 하셔야 합니다.</p>
					<ol class="krds-info-list ordered">
						<li><span class="num">①</span>임대차계약 종료 2개월 전에 임대인에게 임대차계약 갱신(연장) 거절 통지 (고객 → 임대인)</li>
						<li><span class="num">②</span>금융기관(대출은행)을 방문해 전세자금대출·보증 기한 연장 (고객 → 은행)</li>
						<li><span class="num">③</span>임차보증금 반환채권 양도 (고객 → 공사)</li>
					</ol>
				</div>
			</div>
		</div>

		<div class="hf_text_list_cont">
			<div class="hf-infobox hf-infobox--gray">
				<ul class="krds-info-list decimal">
					<li>배우자정보제공동의 이후 정보제공동의 조회 버튼을 눌러 주시기 바랍니다.</li>
					<li>배우자의 신용상태에 따라 보증신청 진행가능 여부는 달라질 수 있습니다.</li>
					<li>배우자 정보제공동의를 위해 동의에 필요한 정보를 아래 <strong>공유하기</strong>를 클릭하여 <u>고객님의 휴대폰 번호로 SMS 받은 후 배우자에게 공유</u>하여 동의를 진행해 주시기 바랍니다.</li>
				</ul>
			</div>
		</div>

		<div class="hf_text_list_cont">
			<div class="hf-infobox hf-infobox--section">
				<div class="hf-infobox__sec">
					<div class="hf-infobox__head">
						<i class="svg-icon ico_caution" aria-hidden="true"></i>
						<strong class="tit">대상보증</strong>
					</div>
					<div class="hf-infobox__body">
						<p class="desc">보증채무의 이행은 아래 1), 2) 중 빠른 날까지 유보 가능합니다.</p>
						<ol class="krds-info-list ordered">
							<li><span class="num">1)</span>보증채권자의 퇴거희망일(년 월 일)</li>
							<li><span class="num">2)</span>공사의 심사종료일로부터 3개월이 되는 날(년 월 일)</li>
						</ol>
					</div>
				</div>
				<div class="hf-divider" aria-hidden="true"></div>
				<div class="hf-infobox__sec">
					<div class="hf-infobox__head">
						<i class="svg-icon ico_caution" aria-hidden="true"></i>
						<strong class="tit">확약 사항</strong>
					</div>
					<div class="hf-infobox__body">
						<ul class="krds-info-list decimal">
							<li>본인은 공사의 심사종료일로부터 3개월이 되는 날까지 보증목적물을 명도하고 대위변제금을 수령할 것을 확약합니다.</li>
							<li>본인은 이 요청서를 통해 수령지체 의사를 표시하였으므로 유보기간 동안 전세지킴보증약관 제15조 제5항의 지연배상금 수령 대상에 해당하지 않음에 동의하며 이와 관련된 이의를 제기하지 않겠습니다.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="hf_text_list_cont">
			<div class="hf-guide">
				<div class="hf-guide__head">
					<strong class="tit">개인보증 예상금액 조회 안내</strong>
				</div>
				<ul class="krds-info-list decimal">
					<li>본 페이지는 대출신청 전 나의 보증한도를 미리 확인하기 위한 조회용 페이지입니다.</li>
					<li>본 페이지는 최소한의 정보 수집을 통해 보증한도를 산출하고 있으므로, 실제 대출(보증)신청 시 대출(보증)이 거절되거나 한도가 달라질 수 있습니다.</li>
					<li>정식 대출(보증)신청은 금융기관 홈페이지, 앱, 지점 방문을 통하여 가능합니다 (전세대출은 신청 &gt; HF전세ON 신청(with 하나은행)을 통해서도 가능합니다)</li>
				</ul>
			</div>
		</div>

		<div class="hf_text_list_cont">
			<div class="hf-guide">
				<div class="hf-guide__head">
					<i class="svg-icon ico_guide_check" aria-hidden="true"></i>
					<strong class="tit">스마트 서류제출 서비스</strong>
				</div>
				<div class="hf-guide__group">
					<ul class="krds-info-list decimal">
						<li>임대차계약 계약 종료 시 임대인이 임차인에게 전세보증금을 반환하지 못하면 HF가 대신 임차인에게 전세보증금을 돌려주는 전세보증금반환보증 상품 (이후 임대인에게 구상권 청구)
							<ol class="krds-info-list ordered hf-list-note">
								<li><span class="num">※</span>HF의 전세자금보증을 이용 중이거나 전세자금보증과 함께 신청하는 경우 이용 가능</li>
							</ol>
						</li>
						<li>전세지킴보증은 임차보증금 전액이 보증한도 이하인 경우에만 가입이 가능한 상품입니다.
							<ol class="krds-info-list ordered hf-list-note">
								<li><span class="num">※</span>보증한도 : 주택가격의 90% - 선순위채권</li>
								<li><span class="num">※</span>선순위채권 : 선순위근저당권설정액+ 선순위임차보증금</li>
							</ol>
						</li>
						<li>선순위 임차보증금은 없다고 가정하며, 단독·다가구주택의 경우 선순위임차보증금 확인이 어렵기 때문에 한도조회가 불가능합니다. 집합건물(아파트, 오피스텔, 다세대, 연립주택)만 이용해주시기 바랍니다.</li>
						<li>주택금융공사 상품 신청 시 제출 필요한 고객님의 행정정보를 별도의 서류 발급 없이 주택금융공사(또는 금융기관)에 전자적으로 제출하는 서비스입니다.</li>
						<li>서류별 서비스 가능 시간은 아래 ‘스마트 서류제출 이용안내’를 참고해주시기 바랍니다.</li>
						<li><span class="hf-c-point">자동 서류제출에 실패</span>한 서류가 있을 경우 <span class="hf-c-point">보증신청의 진행이 더 이상 불가할 수 있습니다.</span></li>
						<li class="hf-c-primary">일반전세자금보증의 경우, [선순위채권+임차보증금] ⪯ 주택가격의 90%(법인 임대인은 80%)를 충족해야 합니다.</li>
						<li class="hf-c-point">기입한 내용이 실제와 다를 경우 은행 심사과정에서 예상 대출(보증)금액과 실제 대출(보증)금액이 달라질 수 있습니다.</li>
					</ul>
				</div>
				<div class="hf-guide__group">
					<strong class="hf-guide__sub-tit">정보 기입 유의사항</strong>
					<ul class="krds-info-list decimal">
						<li>임대인과 체결한 임대차계약서의 내용을 기반으로 정확히 입력해 주세요.
							<ul class="krds-info-list dash">
								<li>(주소(동, 호수 등)를 잘못 기입하는 경우 잘못기입한 주소 거주자와 분쟁이 발생할 수 있으므로 특히 유의해 주세요.)</li>
							</ul>
						</li>
						<li class="hf-c-primary">일반전세자금보증의 경우, [선순위채권+임차보증금] ⪯ 주택가격의 90%(법인 임대인은 80%)를 충족해야 합니다.</li>
						<li class="hf-c-point">기입한 내용이 실제와 다를 경우 은행 심사과정에서 예상 대출(보증)금액과 실제 대출(보증)금액이 달라질 수 있습니다.</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="hf_text_list_cont">
			<ol class="krds-info-list ordered">
				<li>
					<span class="num">①</span>공통사항
					<ul class="krds-info-list dash">
						<li>당초 채권보전조치가 있는 경우 해당 채권보전조치보다 불리한 조건으로의 변경은 불가</li>
						<li>피보증인이 사고처리 된 경우 기한연장만 가능</li>
					</ul>
				</li>
				<li>
					<span class="num">②</span>기한연장
					<ul class="krds-info-list dash">
						<li>임차보증금 7억원(서울/경기/인천 외 소재가구 5억원) 초과 시 1회만 허용</li>
					</ul>
				</li>
				<li>
					<span class="num">③</span>목적물 변경
					<ul class="krds-info-list dash">
						<li>소득 관련 사항을 제외하고는 원칙적으로 신규 취급과 동일</li>
					</ul>
				</li>
			</ol>
		</div>

	</div>

</body>
</html>
