/*
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');
*/
@import url('nanumsquare.css');
@import url('remixicon.css');

/*a:focus img{outline: 3px solid #eb5b04;}
a:focus{ 
	outline: 3px solid #0F0F0F;	
	font-weight: bold;
}*/

/* body{overflow:hidden;} */
#cms-content {margin-bottom:0; }
/**메인페이지 네비 셋팅*/
header{position:relative;}
.header {background:var(--hf-color-light-information-70);  left:0; top:0; position: absolute;}
.header.active {background:var(--hf-color-surface-white);  left:0; top:0; position: absolute;}
.header .gnb-wrap:before {background:#225283; border-bottom:0;}
.header.fixed .gnb-wrap:before {background:var(--hf-color-surface-white); border-bottom:0;}

.header .gnb-wrap .gnb .top_menulist > li > a { color:var(--hf-color-light-gray-0);}
.header .gnb-wrap.active .top_menulist > li > a {color:var(--hf-color-light-gray-80);}
.header .lnb .lnb_link,
.header .lnb .lnb_eng {color:var(--hf-color-light-gray-0);}
.header .gnb-wrap.active + .lnb .lnb_eng{color:var(--hf-color-light-gray-60); }
.header .gnb-wrap.active + .lnb .lnb_link {color:var(--hf-color-light-gray-0);}
/*.header .lnb .lnb_link:after {background: #d7d0ca;}*/
.header .gnb-wrap.active + .lnb .lnb_link:after {background:url(../img/tree_arr.png);}
.header .lnb .all_search {background-position: right -167px;}
.header .lnb .all_menu {background-position: right -56px;}
.header .gnb-wrap.active + .lnb .all_search {background-position: -431px -167px;}
.header .gnb-wrap.active + .lnb .all_menu {background-position: -426px -56px;}
.header h1 a { background: url(../img/main/logo_w.png) no-repeat 0 0;}
.header.active h1 a { background: url(../img/logo.png) no-repeat 0 0;}

.header .gnb-area .gnb-box .left > li > a{color:var(--hf-color-light-gray-0);}
.header .gnb-area .gnb-box .pc-right .lnb_eng{color:var(--hf-color-light-gray-0);}
.header .gnb-area .gnb-box .mobile-right .lnb_eng{color:var(--hf-color-light-gray-0);}
.header.active .gnb-area .gnb-box .left > li > a{color:var(--hf-color-light-gray-100);}
.header.active .gnb-area .gnb-box .pc-right .lnb_eng, .header.fixed .gnb-area .gnb-box .pc-right .lnb_eng{color:var(--hf-color-light-gray-100);}
.header.active .gnb-area .gnb-box .mobile-right .lnb_eng, .header.fixed .gnb-area .gnb-box .mobile-right .lnb_eng{color:var(--hf-color-light-gray-100);}

.header.fixed{position: fixed; background:var(--hf-color-surface-white); box-shadow: 3px 3px 15px rgb(0 0 0 / 50%); }
.header.fixed h1 a { background: url(../img/logo.png) no-repeat 0 0;}
.header.fixed .gnb-wrap .gnb .top_menulist > li > a{color:var(--hf-color-light-gray-80);}
.header.fixed .lnb .lnb_link{color:var(--hf-color-light-gray-0);}
.header.fixed .lnb .lnb_eng{color:var(--hf-color-light-gray-60);}


.header .mb-searchbtn{display: none;}
.header .toggle{display:none;}
.header.fixed .lnb .all_menu{background-position: -426px -56px;}
.header.fixed .lnb .all_search{background-position: -431px -167px;}

@media (max-width: 1150px){
    .header h1 a, .header.fixed h1 a {width: 200px; height: 29px; background-size: 100%;}	
	.header.active h1 a { width: 200px; height: 29px; background-size: 100%;}
	.header .mb-searchbtn{display: block; width: var(--hf-number-14); height: var(--hf-number-14); background: url(../img/spr_spot.png); background-position: right -155px; position: absolute; right: 70px;top: 73px;   z-index: 1;}
	.header .toggle{display:block; width: var(--hf-number-14); height: var(--hf-number-14); background: url(../img/spr_spot.png); background-position: right -45px; text-indent: -9999999px; position: absolute; right: 20px; top: 73px;  z-index: 1;}
	.header.fixed .mb-searchbtn{background-position: -411px -156px;}
	.header.fixed .toggle {background-position: -416px -45px;}
}
/*메인페이지 네비 셋팅**/

.mwrap {width:1360px; margin:0 auto; position:relative;}
@media (max-width: 1359px){
    .mwrap {padding:0 30px; width:100%;}
}

@media (max-width: 1200px){
	.header h1 a {
		width: 200px;
		height: 29px;
		background-size: 100%;
	}
}

@media (max-width: 1150px){
    .mwrap {width:100%; box-sizing:border-box; padding:0 30px;}
}
@media (max-width: 768px){
    .mwrap {width:100%; box-sizing:border-box; padding:0 15px;}
}



.main-visual-wrapper {position: relative; width: 100%; height:100vh; overflow: hidden; background-color: var(--hf-color-light-gray-100); margin-top:0px;}
.main-slider,
.main-slider .item {width: 100%; height:100vh;}
.slide-image {position: relative; width: 100%; height:100vh; overflow: hidden;}

.item .bg-image {z-index:0; position:relative;}
.item .bg-image img {position: absolute; top: 0;left:0; width:100%; min-width:1920px; height:100vh;
	/* 20230201
	transform: matrix(1.15, 0, 0, 1.15, 0, 0);
	-webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
	*/
}

.item.video video{width:100%; min-width:1920px; height:auto;}

@media (max-width: 1023px){
	.item.video video,
	.item .bg-image img {min-width:100%;}	
}

.item.slick-active .bg-image img{
	/* 20230201
	transition-delay: 0.4s !important;
	transform: matrix(1.0, 0, 0, 1.0, 0, 0);
	-webkit-transition: all 4.0s ease;
	-moz-transition: all 4.0s ease;
    -ms-transition: all 4.0s ease;
    -o-transition: all 4.0s ease;
    transition: all 4.0s ease;
	*/
}

.item .bg-image img.pc {display: block;}
.item .bg-image img.mobile {display: none;}
.item .video span.pc {display: block;}
.item .bg-image.mobile {display: none;}


.main-slogan-wrapper {position: absolute; bottom:32%; left: 0; width: 100%;	z-index:100; }
.main-slogan-wrapper>div{max-width: 1536px; padding: 0 13px;margin: 0 auto;}
.main-slogan-wrapper>div .pc {display: block}
.main-slogan-wrapper>div .mobile {display: none}

.main-slogan-wrapper>dl, .main-slogan-wrapper>.img_vi{ max-width: 1536px; padding: 0 13px;margin: 0 auto;}
.main-slogan-wrapper>dl>dt, .main-slogan-wrapper>.img_vi>p{ margin-bottom: var(--hf-gap-2); padding: 0 26px; color: rgba(255, 255, 255, 0.8); font-size: 22px; line-height: 41px; font-weight: 700;letter-spacing: -0.25px;}

.main-slogan-wrapper>.img_vi>p,
.main-slogan-wrapper>dl>dt,
.main-slogan-wrapper>dl>dd { transition: all 0.8s ease; transform: translate3d(0, 15px, 0); opacity: 0;}
.main-slogan-wrapper dl dt {transition-delay: .5s;}
.main-slogan-wrapper dl dd, .main-slogan-wrapper>.img_vi>p {transition-delay: .9s;}
.main-slogan-wrapper dl dd .pc, .main-slogan-wrapper .img_vi p .pc {display: block}
.main-slogan-wrapper dl dd .mobile, .main-slogan-wrapper .img_vi p .mobile {display: none}

.main-slogan-wrapper .img_area{max-width: 1536px; padding: 0 13px;margin: 0 auto; transition: all 0.8s ease; transform: translate3d(0, 15px, 0); opacity: 0;}
.main-slogan-wrapper .img_area div{transition-delay: .5s;}
.main-slogan-wrapper .img_area .pc {display: block}
.main-slogan-wrapper .img_area .mobile {display: none}

.item.slick-active .main-slogan-wrapper .img_vi p,
.item.slick-active .main-slogan-wrapper dl dt,
.item.slick-active .main-slogan-wrapper dl dd {transform: none;opacity: 1;}

.main-visual-wrapper .slick-prev,
.main-visual-wrapper .slick-next {position: absolute;top: 50%;display: block;width: 46px;height: 90px;margin-top: -45px;background-repeat: no-repeat; background-size: 46px 90px;background-position: 0 0;text-indent: -5000rem;z-index: 1000;}
.main-visual-wrapper .slick-prev {left: 67px;background-image: url(../img/main/visual_left_ver2.png);}
.main-visual-wrapper .slick-next {right: 67px;background-image: url(../img/main/visual_right_ver2.png);}

.main-visual-wrapper .slick-dots {position:absolute; bottom:20%; left:calc(50% - 730px); display:flex; justify-content: flex-start;}
/*.main-visual-wrapper .slick-dots li:first-child { display: none;}*/
.main-visual-wrapper .slick-dots li {width:50px; height:50px; border-radius:50%; box-sizing:border-box; display:flex; justify-content: center; align-items: center;}
.main-visual-wrapper .slick-dots li button {width:50px; height:50px; text-indent:-9999px; border-radius:50%;  position:relative;}
.main-visual-wrapper .slick-dots li button:before {content:''; width:var(--hf-number-5);height:var(--hf-number-5);top:calc(50% - 4px);left:calc(50% - 4px); background:rgba(255,255,255,0.4); position:absolute; border-radius:50%;}

.main-visual-wrapper .slick-dots li:nth-child(1) button:after{content:'1번 슬라이드로 이동하기';}
.main-visual-wrapper .slick-dots li:nth-child(2) button:after{content:'2번 슬라이드로 이동하기';}
.main-visual-wrapper .slick-dots li:nth-child(3) button:after{content:'3번 슬라이드로 이동하기';}
.main-visual-wrapper .slick-dots li:nth-child(4) button:after{content:'4번 슬라이드로 이동하기';}
.main-visual-wrapper .slick-dots li:nth-child(5) button:after{content:'5번 슬라이드로 이동하기';}


.main-visual-wrapper .slick-dots li.slick-active button:before {background:var(--hf-color-surface-white);}

.main-visual-wrapper .slick-dots li.slick-active button:after {content:''; border:3px solid rgba(255,255,255,0.3); position:absolute; top:1px; left:1px; border-radius:50%; width:var(--hf-number-16); height:var(--hf-number-16); z-index:0;}

.main-visual-wrapper .slick-dots li.slick-active:nth-child(1) button:after{content:'1번 슬라이드로 이동하기';}
.main-visual-wrapper .slick-dots li.slick-active:nth-child(2) button:after{content:'2번 슬라이드로 이동하기';}
.main-visual-wrapper .slick-dots li.slick-active:nth-child(3) button:after{content:'3번 슬라이드로 이동하기';}
.main-visual-wrapper .slick-dots li.slick-active:nth-child(4) button:after{content:'4번 슬라이드로 이동하기';}
.main-visual-wrapper .slick-dots li.slick-active:nth-child(5) button:after{content:'5번 슬라이드로 이동하기';}

.main-visual-wrapper .slick-dots li .slider-progress{width:100%; height:100%; position:absolute; top:0; left:0;  display:none; z-index:1; transform:rotate(-90deg);}
.main-visual-wrapper .slick-dots li.slick-active .slider-progress{display:block;}
.main-visual-wrapper .slick-dots li.slick-active .slider-progress svg {width:50px; height:50px; position:absolute; top:0; left:0; }
.main-visual-wrapper .slick-dots li .slider-progress svg circle { stroke: var(--hf-color-light-gray-0); stroke-width:3px; fill:transparent;	stroke-dasharray: 139; stroke-dashoffset: 139; transition-property: stroke-dashoffset; border:3px solid var(--hf-color-light-gray-0); border-radius:50%; transition-timing-function: linear;}

@keyframes word-mouse-scroll {
    0% {
        opacity: 1.0;
        bottom: 37px;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1.0;
        bottom: 47px;
    }
}
.vcontroll {position:absolute; bottom:calc(20% + 7px); left:calc(50% - 520px);}
.vcontroll button {width:var(--hf-number-13); height:var(--hf-number-13); overflow:hidden; text-indent:-9999px; border:3px solid var(--hf-color-light-gray-0); border-radius:50%;}
.vcontroll button.start-slide {background:url(../img/main/play.png) no-repeat 50% 50%;}
.vcontroll button.stop-slide {background:url(../img/main/stop.png) no-repeat 50% 50%;}

/*
.main-visual-wrapper .scroll {position:absolute; bottom:28px; border-radius:50%; left:calc(50% - 40px); width:80px; height:80px; background:rgba(0,0,0,0.3); color:#fff; text-align:center;}
.main-visual-wrapper .scroll:before {content:''; width:30px; height:36px; display:block; position: absolute; left: 50%;  top: 50%; transform: translate(-50%, -50%); margin:0 auto; background:url(/_res/hf/ko/img/main/scroll_arr.png) no-repeat  0 0;}

*/
/*.main-visual-wrapper .scroll {position:absolute; bottom:0; left:calc(50% - 150px); width:300px; font-size:17px; color:#fff; text-align:center;}
.main-visual-wrapper .scroll:before {content:''; width:40px; height:60px; display:block; margin:0 auto; background:url(/_res/hf/ko/img/main/visual_mouse.png) no-repeat  0 0; margin-bottom:10px;}
.main-visual-wrapper .scroll:after {content:''; display:block; width:1px; height:40px; background:rgba(255,255,255,0.5); margin:0 auto; margin-top:10px;}
.main-visual-wrapper .scroll span:before {content:''; display:block; width:8px; height:8px; border-radius:50%; background:#fff; position:absolute; left:calc(50% - 4px); animation:mousemov 1.5s infinite; animation-timing-function: linear;}
*/

/* 20250617 마우스 스크롤로 변경으로 삭제
.main-visual-wrapper .scroll {position:absolute; bottom:40px; left:calc(50% - 75px); width:150px; height:60px;}
.main-visual-wrapper .scroll span:before {content:''; display:block; width:150px; height:47px; background:url(/_res/hf/ko/img/main/scroll_arr_ver2.png) no-repeat  0 0;  position:absolute; left:calc(50% - 75px); animation:mousemov 1.5s infinite; animation-timing-function: linear;}

@keyframes mousemov {
	0% {top:0px; opacity:1;}
	50% {top:25px; opacity:1;}
	100% {top:40px; opacity:1;}
}*/


/* 20250617 마우스 스크롤로 변경*/
.main-visual-wrapper .scroll {position:absolute; bottom:0; left:calc(50% - 150px); width:300px; font-size:var(--hf-font-size-body-medium); color:var(--hf-color-light-gray-0); text-align:center;}
.main-visual-wrapper .scroll:before {content:''; width:var(--hf-number-14); height:60px; display:block; margin:0 auto; background:url(../img/main/visual_mouse.png) no-repeat  0 0; margin-bottom:var(--hf-number-6);}
.main-visual-wrapper .scroll:after {content:''; display:block; width:var(--hf-number-1); height:var(--hf-number-14); background:var(--hf-color-light-alpha-white50); margin:0 auto; margin-top:var(--hf-number-6);}
.main-visual-wrapper .scroll span:before {content:''; display:block; width:var(--hf-number-5); height:var(--hf-number-5); border-radius:50%; background:var(--hf-color-surface-white); position:absolute; top:10px; left:calc(50% - 4px); animation:mousemov 1.5s infinite; animation-timing-function: linear;}
@keyframes mousemov {
	0% {top:10px; opacity:0.2;}
	50% {top:25px; opacity:1;}
	100% {top:40px; opacity:0.2;}
}




/*
.v_quick {position:absolute; top:calc(70% - 120px); right:0; display:flex; flex-flow:row wrap; justify-content:space-between; z-index:9990;}
*/
.v_quick {position:absolute; top:calc(50% - 50px); right:0; display:flex; flex-flow:row wrap; justify-content:space-between; z-index:9990;}
.v_quick li a {color: var(--hf-color-light-gray-100); font-size:16px;}
.v_quick div.tit {  margin-top:5px; width:85px; font-family: 'NanumSquare', sans-serif !important; font-weight:600;}
.v_quick div.tit a {background:#005aab; color:var(--hf-color-light-gray-0); padding:30px 18px; border-radius:var(--hf-radius-xxlarge) 0px 0px var(--hf-radius-xxlarge); display:block; font-size:18px; line-height:1.4em; position:relative;}
.v_quick div.tit a:before {content:''; display:block; width:100%; height:3px; margin-bottom:var(--hf-number-6);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fbbb1a), color-stop(1, #b7635c));
	background: -moz-linear-gradient(top, #fbbb1a 0%, #b7635c 100%);
	background: -webkit-linear-gradient(top,  #fbbb1a 0%, #b7635c 100%);
	background: -o-linear-gradient(top,  #fbbb1a 0%, #b7635c 100%);
	background: -ms-linear-gradient(top,  #fbbb1a 0%, #b7635c 100%);
	/*background: linear-gradient(top,  #fbbb1a 0%, #b7635c 100%);*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbbb1a', endColorstr='#b7635c', gradientType=0);}
.v_quick div.tit a:after {
	content:'';
	display:block;
	width:23px;
	height:var(--hf-number-8);
	background:url(../img/main/quick_arrow.png) no-repeat 0 0;
	margin-top:var(--hf-number-6);
	animation: blink-effect 1s step-end infinite;
}
@keyframes blink-effect {
	50% {opacity: 0;}
}

.v_quick div.tit a.on:after {transform: rotateY(180deg); height:19px;}
.v_quick ul {width:360px; background:var(--hf-color-surface-white); display:flex; flex-flow:row wrap; justify-content:space-between; display:none;}
.v_quick ul li {width:120px; height:120px; float:left; font-size:var(--hf-font-size-body-xsmall); display:flex; justify-content: center; align-items: center; border-left:var(--hf-border-width-static-regular) solid var(--hf-color-light-secondary-5); border-bottom:var(--hf-border-width-static-regular) solid var(--hf-color-light-secondary-5); box-sizing:border-box; text-align:center;}
.v_quick ul li a {line-height:1.6em;}
.v_quick ul li a:before {content:''; display:block; width:100px; height:70px; background:var(--hf-color-surface-secondary-subtler);}

.v_quick ul li:nth-child(1) a:before{background:url(../img/main/main_quic_10.png) no-repeat center center;}
.v_quick ul li:nth-child(2) a:before{background:url(../img/main/main_quic_03.png) no-repeat center center;}

.v_quick ul li:nth-child(3) a:before{background:url(../img/main/main_quic_09.png) no-repeat center center;}
.v_quick ul li:nth-child(4) a:before{background:url(../img/main/main_quic_04.png) no-repeat center center;}
/*.v_quick ul li:nth-child(3) a:before{background:url(/_res/hf/ko/img/main/main_quic_03.png) no-repeat center center;}*/
.v_quick ul li:nth-child(5) a:before{background:url(../img/main/main_quic_02.png) no-repeat center center;}
.v_quick ul li:nth-child(6) a:before{background:url(../img/main/main_quic_05.png) no-repeat center center;}
/*.v_quick ul li:nth-child(6) a:before{background:url(/_res/hf/ko/img/main/main_quic_06.png) no-repeat center center;}*/
.v_quick ul li:nth-child(7) a:before{background:url(../img/main/main_quic_07.png) no-repeat center center;}
.v_quick ul li:nth-child(8) a:before{background:url(../img/main/main_quic_08.png) no-repeat center center;}
/*.v_quick ul li:nth-child(7) a:before{background:url(/_res/hf/ko/img/main/main_quic_09.png) no-repeat center center;}*/

.v_quick ul li:nth-child(9) a:before{background:url(../img/main/main_quic_01.png) no-repeat center center;}
/*.v_quick ul li:nth-child(11) a:before{background:url(/_res/hf/ko/img/main/main_quic_11.png) no-repeat center center;}
.v_quick ul li:nth-child(12) a:before{background:url(/_res/hf/ko/img/main/main_quic_12.png) no-repeat center center;}
.v_quick ul li:nth-child(1) a:before{background:url(/_res/hf/ko/img/main/main_quic_13.png) no-repeat center center;}*/

.popup_quick {position:absolute; top:calc(50% - 50px); right:0; z-index:9990; border-radius:var(--hf-radius-xxlarge) 0px 0px var(--hf-radius-xxlarge);   background: #4B882E;}
.popup_quick div.tit {font-family: 'NanumSquare', sans-serif !important; font-weight:600; color:var(--hf-color-light-gray-0);  display:block; font-size:20px; line-height:1.4em; position:relative;}
.popup_quick a {color:var(--hf-color-light-gray-0); display:block; padding:15px var(--hf-padding-6);}
.popup_quick div.popup_num{color:#ffd800; text-align: center}  

@media only all and (max-width: 1700px) {
    .main-slogan-wrapper>dl {max-width: 100%; padding: 0 86px;}
	.main-visual-wrapper .slick-dots {bottom:20%; left:110px; }
	.vcontroll {bottom:calc(20% + 7px); left:320px;}
    .main-visual-wrapper .slick-prev { left: 20px; }
    .main-visual-wrapper .slick-next { right: 20px; }
}

@media (max-width: 1620px){
	.topvisual .slide_visual div.slick-slide video {width:auto; height:100vh; }
}

@media (max-width: 1150px){
	.main-visual-wrapper {margin-top:0;}
	.main-visual-wrapper .scroll,
    .v_quick {display:none;}
	.popup_quick {top:150px;}
	
}

@media only all and (max-width: 1023px) {
    .main-visual-wrapper { height: auto; }
    
    .main-slider,
    .main-slider .item { width: 100%; height:calc(100vh - 75px);  }
    .slide-image { position: relative; width: 100%; height:calc(100vh - 75px); overflow: hidden; }
    .item .bg-image img { position:absolute; top:-300px;  left: 0; max-width: 100% !important; height:auto; margin-left: 0; }
	
	.item .video span.pc,
    .item .bg-image img.pc { display: none; }
	.item .bg-image.mobile,
    .item .bg-image img.mobile { display: block; }	
	
    .main-slogan-wrapper { position: absolute; bottom:31%; left: 0; width: 100%; }
    .main-slogan-wrapper.first { bottom: 31% }
	.main-slogan-wrapper.second { bottom: 15% }
	.main-slogan-wrapper.third { bottom: 25% }
	.main-slogan-wrapper.first img {margin:0 auto;}
	
    .main-slogan-wrapper>dl, .main-slogan-wrapper>.img_vi{  max-width: 100%;  padding: 0 0; margin: 0; }
    .main-slogan-wrapper>dl>dt, .main-slogan-wrapper>.img_vi>p{ margin-bottom: 0.166rem; padding: 0 5.8%; font-size: 1.4rem; line-height: 1.833rem; }
    .main-slogan-wrapper.first>dl>dt, .main-slogan-wrapper.first>.img_v>p {text-align: center;}
	
	.main-slogan-wrapper>.img_v>p,
    .main-slogan-wrapper>dl>dt,
    .main-slogan-wrapper>dl>dd {transform: translate3d(0, 0.937rem, 0);}
    .main-slogan-wrapper dl dd .pc, .main-slogan-wrapper .img_vi p .pc {display: none}
    .main-slogan-wrapper dl dd .mobile, .main-slogan-wrapper .img_vi p .mobile {display: block; max-width: 100%;}
    .main-visual-wrapper .slick-prev,
    .main-visual-wrapper .slick-next {display: none !important;}    
    .main-visual-wrapper video {position: absolute; top: 0; left: 50%; width: 300%; transform: translate(-50%, 0); display:none;}
	.main-visual-wrapper .slick-dots {bottom:30px; left:calc(50% - 120px); justify-content:center;}	
	.vcontroll {position:absolute; bottom:37px; left:calc(50% + 86px);}
}


@media only all and (max-width:768px) {
	.main-slider,
	.main-slider .item {max-height:800px; }
    .slide-image {max-height:800px;}	
	.item .bg-image img { position:absolute; top:0;}
}

@media only all and (max-width: 560px) {
	.main-slider,
	.main-slider .item {max-height:550px; }
    .slide-image {max-height:550px;}	
	.item .bg-image img { position:absolute; top:0;}
}

.msec2 {background:#005eb8;}
.msec2 > div:before {content:''; display:block; width:107px; height:118px; background:url(../img/main/msec2_bg.png) no-repeat 0 0; position:absolute; top:-30px; left:-130px;}

.talk {display:flex; justify-content: space-between; flex-flow:row wrap; align-items: center; padding-top:45px; padding-bottom:50px; margin-top:50px;}
.talk h3 {width:150px; position:relative; font-family: 'NanumSquare', sans-serif !important; font-weight:600; font-size:var(--hf-font-size-body-large); letter-spacing:0;}
.talk h3:before {content:''; display:block; width:100px; height:100px; background:url(../img/main/talkbg.png) no-repeat 0 0; position:absolute; top:-40px; right:-25px;}
.talk h3 span{display: inline-block; background:#399C21; color:var(--hf-color-light-gray-0); box-sizing:border-box; border-radius:30px 15px 30px 30px; padding:3px var(--hf-padding-7); font-size:20px; width:calc(100% - var(--hf-number-9));}
/*.talk h3 p strong {font-size:21px; font-family:'NotoKrM';}
.talk h3 p span {font-size:21px; }*/
.talk ul {width:calc(100% - 170px);}
.talk ul li a {color:var(--hf-color-light-gray-0); font-size:22px; font-weight:500; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display:block; padding-right:30px;}
.talk ul li a strong {color:#f5e786; margin-right:var(--hf-number-6); font-weight:500;}
.talk ul button.slick-arrow {position:absolute; right:-30px; width:var(--hf-number-9); height:17px; z-index:10; text-indent:-9999px; }
.talk ul button.slick-arrow.slick-prev {top:0;}
.talk ul button.slick-arrow.slick-prev:before {content:'\EA77'; font-family: remixicon!important; text-indent:0; color:var(--hf-color-light-gray-0); position:absolute; top:0; left:0;}
.talk ul button.slick-arrow.slick-next {bottom:0;}
.talk ul button.slick-arrow.slick-next:before {content:'\EA4D'; font-family: remixicon!important; text-indent:0; color:var(--hf-color-light-gray-0); position:absolute; bottom:0; left:0;}
.talk .control_area{position: absolute;  z-index: 20;  bottom: 56px; right:35px;}
.talk .stop-slide{background: url(../img/main/btn_stop_m.png) no-repeat center center; width: var(--hf-number-9);  height: 14px;  text-indent: -999999999px;}
.talk .start-slide{display:none; background: url(../img/main/btn_play_m.png) no-repeat center center; width: var(--hf-number-9);  height: 14px;  text-indent: -999999999px;}

@media (max-width: 960px){
	.talk {background: none; margin-top:0;}
	.talk ul button.slick-arrow {right:0px; }
	.talk .control_area { bottom: 35px; right: 15px;}
}

@media (max-width: 768px){
	.talk{padding-top:25px; padding-bottom:30px;}
    .talk h3 {width:50px;}
    .talk ul {width:calc(100% - 50px);}
    .talk h3 span{width:0; height:0; position:absolute; top:0; left:0; opacity:0;}
    .talk h3:before {transform: scale(0.8); top:-50px; right:-18px;}
	.talk ul li a{font-size:var(--hf-font-size-body-medium);}
}

.hf_new {display:flex; justify-content: space-between; flex-flow:row wrap; align-items: center; padding-top:45px; padding-bottom:50px; }
.hf_new h3 {width:136px; position:relative; font-family: 'NanumSquare', sans-serif !important; font-weight:600; font-size:var(--hf-font-size-body-large); letter-spacing:0;}
.hf_new h3:before {content:''; display:none; width:100px; height:100px; background:url(../img/main/newsbg.png) no-repeat 0 0; position:absolute; top:-40px; right:-25px;}
.hf_new h3 span{background: #239DC6; color:var(--hf-color-light-gray-0); box-sizing:border-box; border-radius:30px; padding:3px 0px; font-size:20px; width:calc(100% - var(--hf-number-9)); text-align: center; display: inline-block;}
/*.hf_new h3 p strong {font-size:21px; }
.hf_new h3 p span {font-size:21px; }*/
.hf_new ul {width:calc(100% - 136px);}
.hf_new ul li a {color:var(--hf-color-light-gray-0); font-size:22px; font-weight:500; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display:block; padding-right:30px;}
.hf_new ul li a strong {color:#f5e786; margin-right:var(--hf-number-6); font-weight:500;}
.hf_new ul button.slick-arrow {position:absolute; right:0; width:var(--hf-number-9); height:17px; z-index:10; text-indent:-9999px; }
.hf_new ul button.slick-arrow.slick-prev {top:0;}
.hf_new ul button.slick-arrow.slick-prev:before {content:'\EA77'; font-family: remixicon!important; text-indent:0; color:var(--hf-color-light-gray-0); position:absolute; top:0; left:0;}
.hf_new ul button.slick-arrow.slick-next {bottom:0;}
.hf_new ul button.slick-arrow.slick-next:before {content:'\EA4D'; font-family: remixicon!important; text-indent:0; color:var(--hf-color-light-gray-0); position:absolute; bottom:0; left:0;}
.hf_new .control_area1{position: absolute;  z-index: 20;  bottom: 56px; right:20px;}
.hf_new .stop-slide{background: url(../img/main/btn_stop_m.png) no-repeat center center; width: var(--hf-number-9);  height: 14px;  text-indent: -999999999px;}
.hf_new .start-slide{display:none; background: url(../img/main/btn_play_m.png) no-repeat center center; width: var(--hf-number-9);  height: 14px;  text-indent: -999999999px;}


@media (max-width: 960px){
	.hf_new {background: none;}
	.hf_new .control_area1 { bottom: 30px; right: 15px;}
}

@media (max-width: 768px){
	.hf_new{padding-top:25px; padding-bottom:25px;}    
	.hf_new h3{width:50px;}
	.hf_new h3:before {display:block; transform: scale(0.8); top:-50px; right:-18px;}
	.hf_new ul{width:calc(100% - 50px);}
	.hf_new ul li a{font-size:var(--hf-font-size-body-medium);}
	.hf_new h3 span{ width: 0; height: 0;  position: absolute;  top: 0;  left: 0;  opacity: 0;}
	.hf_new h3 span img{width:50px; }
	
}


.mst {display:flex; flex-flow:row wrap; justify-content: space-between; /*margin-top:40px;*/ padding-top:55px;  position:relative;}
/*.mst:after{content:''; background:url(/_res/hf/ko/img/main/talk_bg.png) no-repeat 0 0; width:100%; height:32px; left:0; bottom:106px; position: absolute;}*/
.mst .msear {width:585px; background:url(../img/main/msear_bg01.png) no-repeat right 0; box-sizing:border-box; padding-right:var(--hf-padding-10); /*padding-bottom:50px;*/ position:relative;}
.mst .msear .msear_tit {font-size:42px; font-family:'GmarketSans'; color:var(--hf-color-light-gray-0); line-height:1.2em; margin-bottom:15px;}
.mst .msear .mser_input {width:100%; background:var(--hf-color-surface-white); padding: var(--hf-padding-5) var(--hf-padding-3) var(--hf-padding-5) var(--hf-padding-6); display:flex; justify-content: space-between;     position: relative;}
.mst .msear .mser_input input[type='text'] {width:calc(100% - 73px); border:0;}
.mst .msear .mser_input input[type='text']::placeholder {color:var(--hf-color-light-gray-30); font-weight:500;}
.mst .msear .mser_input input[type='submit'] {width:73px; height:74px; background:url(../img/main/msear_searbtn_01.png) no-repeat 50% 50%; text-indent:-9999px; border:0; position: absolute; right: 0; top: 0;}

.mst .msear .msear_hash { display:flex; justify-content: flex-start; flex-flow:row wrap; /*margin-top:8px;*/ margin-bottom: 9px;}
.mst .msear .msear_hash li {margin-top:9px; margin-right:9px;}
.mst .msear .msear_hash li a {background:var(--hf-color-light-secondary-40); padding:5px var(--hf-padding-5); color:rgba(255,255,255,0.8); transition:all .3s; border-radius:5px; display:inline-block; font-size:var(--hf-font-size-body-medium);}
.mst .msear .msear_hash li a:hover {background:var(--hf-color-light-secondary-50); color:var(--hf-color-light-gray-0);}

.mst .mtab {width:calc(100% - 625px); /*background:rgba(0,0,0,0.msec2);*/  display: flex;  flex-direction: column; justify-content: space-between;}
.mst .mtab > div {position:relative;}
.mst .mtab .tab {color:#94bde4; width:120px; display:inline-block; border:3px solid #94bde4; font-size:22px; font-weight:600; line-height:49px; text-align:center; border-radius:30px;}
.mst .mtab .tab.active {border:3px solid #ec700a;  background-color:#ec700a; color:var(--hf-color-light-gray-0);}
.mst .mtab .tabcon {display:none; padding:var(--hf-padding-13) 0 50px 0 ; width:100%;}
.mst .mtab .tabcon.active {display:block;}
.mst .mtab .tab.t01 {position:absolute; top:0; left:calc(50% - 190px);}
.mst .mtab .tab.t02 {position:absolute; top:0; left:calc(50% - 60px);}
.mst .mtab .tab.t03 {position:absolute; top:0; left:calc(50% + 70px);}
.mst .mtab .tabcon {overflow:hidden; width:100%;}
.mst .mtab .tabcon > ul {width:calc(100% + 5px); margin-left:-5px;}
.mst .mtab .tabcon > ul li { margin:5px;}
.mst .mtab .tabcon > ul li a{border-radius: 35px; /*padding:24px 18px;*/  padding:30px 18px; background-color: var(--hf-color-surface-white); display:block; }
.mst .mtab .tabcon > ul li a img {margin:15px auto var(--hf-number-6) auto;}
.mst .mtab .tabcon > ul li a span{display:block; display:flex; align-items:center; justify-content:center; height:var(--hf-number-15); font-size:18px; line-height:22px; font-weight:600; color:var(--hf-color-light-gray-80); text-align:center;}

.mst .mtab .tabcon > ul button.slick-arrow {position:absolute; top:-83px; width:var(--hf-number-14); height:var(--hf-number-14); z-index:10; text-indent:-9999px; background-color:var(--hf-color-light-information-70); border-radius:50%;}
.mst .mtab .tabcon > ul button.slick-arrow.slick-prev {right:55px; }

.mst .mtab .tabcon > ul button.slick-arrow.slick-next {right:10px; }
.mst .mtab .tabcon > ul button.slick-arrow.slick-prev:after {content:''; background:url(../img/main/t_arr01.png) no-repeat 0 0; font-family: remixicon!important; text-indent:0; color:var(--hf-color-light-gray-0); position:absolute; top: 15px; left: 14px; width:var(--hf-number-5); height:var(--hf-number-6);}
.mst .mtab .tabcon > ul button.slick-arrow.slick-next:after {content:''; background:url(../img/main/t_arr02.png) no-repeat  0 0; font-family: remixicon!important; text-indent:0; color:var(--hf-color-light-gray-0); position:absolute; top: 15px; left: 14px;width:var(--hf-number-5); height:var(--hf-number-6);}

@media (max-width: 1260px){
    .mst .msear {width:calc(50% - var(--hf-number-9));} 
    .mst .mtab {width:calc(50% - var(--hf-number-9));}
    .mst .mtab .tabcon > ul button.slick-arrow {top:auto; bottom:-45px;}
    .mst .mtab .tabcon > ul button.slick-arrow.slick-prev {right:calc(50% + 5px);}
    .mst .mtab .tabcon > ul button.slick-arrow.slick-next {right:calc(50% - 45px);}
	
}

@media (max-width: 960px){
	.mst{padding-top:var(--hf-padding-7);}
	/*.mst:after{display:none;}*/
    .mst .msear{width:100%; padding-right:0; background:none; padding-bottom:0px;}
    .mst .mtab {width:100%; padding-top:30px;}
	
    .mst .msear .msear_tit {font-size:var(--hf-font-size-display-small);}
	.mst .msear .msear_tit img{width:270px;}
    .mst .msear .mser_input input[type='text'] {font-size:18px;}
	.mst .mtab .tabcon {display:none; /*padding:70px 0 60px 0;*/}
	.mst .mtab .tabcon > ul button.slick-arrow{bottom:-50px;}
}
@media (max-width: 768px){
	.mst .msear .mser_input input[type='text']{width:calc(100% - 60px);}
	.mst .msear .mser_input{padding:5px;}
	.mst .msear .mser_input input[type='text'] {font-size:14px;}
	.mst .msear .mser_input input[type='submit']{height:60px; width:60px;}
	
}
@media (max-width: 560px){
    .mst .mtab .tab {font-size:var(--hf-font-size-body-small); width:86px; line-height: 38px;}
    .mst .mtab .tabcon {display:none; padding:53px 0 60px 0;}
    .mst .mtab .tab.t01 {position:absolute; top:0; left:calc(50% - 138px);}
    .mst .mtab .tab.t02 {position:absolute; top:0; left:calc(50% - 43px);}
    .mst .mtab .tab.t03 {position:absolute; top:0; left:calc(50% + 50px);}
	.mst .mtab .tabcon > ul li a{padding: var(--hf-padding-5) 15px var(--hf-padding-5) 15px; border-radius:15px;}
	.mst .mtab .tabcon > ul li a img{margin: 5px auto 0px auto;width: 55px;}
	.mst .mtab .tabcon > ul li a span{height:35px; font-size:14px; line-height:14px;}	
}

.msec3 {position:relative; background:url(../img/main/grid_bg.png) no-repeat right 30px; overflow:hidden;}
.msec3 div.mconf .mpcver {display:flex; justify-content:space-between; padding:145px 0;}
.msec3 div.mconf .mpcver > div {width:432px;}
.msec3 div.mconf .mmobilever {display:none;}

@media (max-width: 1360px){
	.msec3 div.mconf .mpcver {padding:10% 0;}
	.msec3 div.mconf .mpcver > div {width:calc(33.33% - var(--hf-number-6));}
	.msec3 div.mconf .mpcver > div img{width:100%;}
}
.msec3 div.mconf div.ccboc {position:relative;}
.msec3 div.mconf div.ccboc a { display:block; position:relative;}
.msec3 div.mconf div.ccboc a img {z-index:2; position:relative;}
.msec3 div.mconf div.ccboc:before {z-index:1;}
.msec3 div.mconf div.ccboc div {padding:15px var(--hf-number-11) 0px var(--hf-number-11);}
.msec3 div.mconf div.ccboc span {font-size:var(--hf-font-size-body-medium); color:var(--hf-color-light-gray-80); line-height:20px;}
.msec3 div.mconf div.ccboc p.tit {font-size:26px; color:var(--hf-color-light-gray-80); font-weight:600;}
.msec3 div.mconf div.ccboc p.copy {font-size:var(--hf-font-size-body-small); color:var(--hf-color-text-muted); line-height:23px;}

div.mb01 {margin-bottom:70px;}
div.mb01 img {border-radius:28px; }

div.mb02 {margin-bottom:70px;}
div.mb02 img {border-radius:40px;}

div.mb03 {margin-bottom:30px;}
div.mb03::before {content:''; display:block; width:151px; height:152px; background:url(../img/main/grid_bg02.png) no-repeat 0 0; position:absolute; top:90px; left:-50px;}

div.mb02_2 {margin-bottom:75px;}
div.mb02_2 img {border-radius:80px;}
div.mb02_2::before {content:''; display:block; width:182px; height:203px; background:url(../img/main/grid_bg01.png) no-repeat 0 0; position:absolute; top:225px; right:-140px;}

div.mb04 {margin-bottom:70px;}
div.mb04 img {border-radius:28px;}

div.mb04_2 {}
div.mb04_2:after {content:''; display:block; width:421px; height:94px; background:url(../img/main/grid_bg03.png) no-repeat 0 0; position:absolute; top:-29px; left:calc(50% - 210px);}

div.mb05 {margin-bottom:30px; }
div.mb05 img {border-radius:28px;}
div.mb05_2 {margin-bottom:45px;}

div.mb06 {margin-bottom:70px;}
div.mb06 img {border-radius:var(--hf-radius-xlarge3);}

div.mb07 ul.popupzone{overflow:hidden; /*border-radius:36px;*/ }
div.mb07 div {padding:0!important;}
div.mb07 ul.popupzone li img{border-radius:36px;}
div.mb07 ul.popupzone li a:focus img{outline: 3px solid #eb5b04;}

div.mb07 ul.popupzone + div {padding:15px var(--hf-number-11) 0px var(--hf-number-11)!important;}
div.mb07 ul.popupzone .slick-dots {position:absolute; top:7%; right:7%; display:flex;} 
div.mb07 ul.popupzone .slick-dots li {width:var(--hf-number-7); height:var(--hf-number-7); background:var(--hf-color-light-gray-extended-20); border-radius:var(--hf-radius-large1); margin-left:5px; overflow:hidden; text-indent:-9999px; transition:all .2s;}
div.mb07 ul.popupzone .slick-dots li.slick-active {width:var(--hf-number-14); background:#f9c71a;}
div.mb07 ul.popupzone .slick-dots li.slick-active button{ outline-color:#f02a2a; width:var(--hf-number-14);}
div.mb07 ul.popupzone .slick-dots li button{text-indent: -9999999px; width:var(--hf-number-7); height:var(--hf-number-7); outline-color:#f02a2a;}
div.mb08 {margin-top:30px;}
div.mb08 img {border-radius:var(--hf-radius-xlarge3);}

@media (max-width: 1023px){
	.msec3 {background:none;}
	.msec3 div.mconf .mpcver {display:none;}
	.msec3 div.mconf .mmobilever {display:flex; justify-content:space-between; padding:10% 0;}
	.msec3 div.mconf div.ccboc div {padding:var(--hf-padding-4) 0px 0px 0px;}
	.msec3 div.mconf .mmobilever > div {width:calc(50% - var(--hf-number-5));}
	.msec3 div.mconf .mmobilever > div img{width:100%;}
	
	div.mb02 {margin-bottom:15px;}
	
	div.mb02_2 {margin-bottom:70px;}
	div.mb02_2:before {display:none;}
	
	div.mb05 {margin-bottom:15px; }
	
	div.mb05_2 {margin-bottom:70px;}
	div.mb04 {margin-bottom:15px;}
	
	div.mb04_2{margin-bottom:70px;}
	div.mb04_2:after {display:none;}
	div.mb06 {margin-bottom:15px;}
	div.mb03 {margin-bottom:60px;}
	div.mb03:before {display:none;}
	
	div.mb05 img,
	div.mb04 img,
	div.mb01 img,
	div.mb02 img,
	div.mb07 ul.popupzone {border-radius:var(--hf-radius-xxlarge);}
	div.mb02_2 img {border-radius:30px;}
	
	div.mb07 ul.popupzone + div {padding:var(--hf-padding-4) 0 0 0!important;}
	div.mb07 ul.popupzone .slick-dots li {width:var(--hf-number-6); height:var(--hf-number-6);}
}

.quick{display:none;}
.quick.open{display:block;}
.quick .dictionary_open{display:none;}


/* 공지사항 / 보도자료 / 채용공고 */
.summary_board {width:100%; background:rgba(0,0,0,0.2); margin-bottom:50px; padding: 55px 98px 0 98px;}
.summary_board > div {position:relative;}
.summary_board .summary_body .tab {color:var(--hf-color-light-gray-60); width:120px; display:inline-block; background:var(--hf-color-surface-gray-subtler); font-size:20px; font-weight:600; line-height:55px; text-align:center; border-radius:30px;}
.summary_board .summary_body .tab.active { background:var(--hf-color-light-support-green-70); color:var(--hf-color-light-gray-0);}
.summary_board .summary_body .tabcon {display:none; padding:90px 0; width:100%;}
.summary_board .summary_body .tabcon.active {display:block;}
.summary_board .summary_body .tab.t01 {position:absolute; top:0; left:calc(50% - 190px);}
.summary_board .summary_body .tab.t02 {position:absolute; top:0; left:calc(50% - 60px);}
.summary_board .summary_body .tab.t03 {position:absolute; top:0; left:calc(50% + 70px);}
.summary_board .summary_body .tabcon {overflow:hidden; width:100%; }
.summary_board .summary_body .tabcon > ul {width:calc(50% - var(--hf-number-14)); float:left;  padding-right:var(--hf-padding-10);}
.summary_board .summary_body .tabcon > ul:nth-child(2){padding-right:0; float:right; border-right:none;}

.summary_board .summary_body .tabcon > ul li {width:100% !important;margin-bottom:30px; position: relative; padding-left:18px;}
.summary_board .summary_body .tabcon > ul li:before {content: '';  position: absolute;  width: var(--hf-number-4); height: var(--hf-number-4);  left: 0;  top: 15px; background: var(--hf-color-surface-white); border-radius:50%;}
.summary_board .summary_body .tabcon > ul li a{display:block; color:var(--hf-color-light-gray-0); font-size:21px; font-weight: 500; text-overflow: ellipsis;  white-space: nowrap; word-wrap: normal; overflow: hidden; width:100%;}
.summary_board .summary_body .tabcon > ul li a span {display:block;color:var(--hf-color-light-gray-extended-10); font-size:18px; font-weight: 300; line-height:20px;}
.summary_board .summary_body .tabcon > ul li:last-child{margin-bottom:0px;}
.summary_board .summary_body .tabcon a{color:var(--hf-color-light-gray-0);}
.summary_board .summary_body .tabcon a.border-btn{position:absolute; top:0;  right:0px; width:52px; height:52px; border:var(--hf-border-width-static-regular) solid var(--hf-color-border-gray-light); border-radius:50%; text-align: center; font-size:30px; line-height:52px;}
.summary_board .slick-track{padding:var(--hf-padding-7);}

.summary_board .summary_body {width: 1360px;margin: 0 auto;position: relative;}

@media (max-width: 1360px){
	.summary_board {padding: 30px var(--hf-padding-7);}
	#content.promotion_layout{padding:0;}
	
	.summary_board .summary_body .tab {color:var(--hf-color-light-gray-60); width:110px; font-size:18px; line-height:50px; }
	.summary_board .summary_body .tabcon > ul {width:100%; border-right:none;}	
	.summary_board .summary_body .tabcon > ul li{margin-bottom:0px; }
	.summary_board .summary_body .tabcon > ul li a{font-size:16px;}
	.summary_board .summary_body .tabcon a.border-btn{position:absolute; top:auto;  right:50%; bottom:0px; margin-right:-26px;}
	.summary_board .summary_body .tab.t01 {position:absolute; top:0; left:calc(50% - 180px);}
	.summary_board .summary_body .tab.t02 {position:absolute; top:0; left:calc(50% - 60px);}
	.summary_board .summary_body .tab.t03 {position:absolute; top:0; left:calc(50% + 60px);}
	.summary_board .summary_body .tab { width:110px;}	
	.summary_board .summary_body .tabcon > ul li:before {top: 30px;}	
	.summary_board .summary_body .tabcon > ul:nth-child(2) {display:none;}
}
@media (max-width: 1023px){
	#content.promotion_layout #cms-content{margin-bottom:0;}
	#subcontent.promotion_layout_wrap{ padding: var(--hf-padding-10) 0 0px 0;}
}
@media (max-width: 960px){
	.summary_board .summary_body{padding-top:var(--hf-padding-7);}
    .summary_board .summary_body{width:100%; padding-top:30px;}
	.summary_board .summary_body .tabcon {display:none;}

}
@media (max-width: 560px){
    .summary_board .summary_body .tab {font-size:var(--hf-font-size-body-small); width:86px; line-height: 38px;}
    .summary_board .summary_body .tabcon {display:none; padding:53px 0 60px 0;}
    .summary_board .summary_body .tab.t01 {position:absolute; top:0; left:calc(50% - 138px);}
    .summary_board .summary_body .tab.t02 {position:absolute; top:0; left:calc(50% - 43px);}
    .summary_board .summary_body .tab.t03 {position:absolute; top:0; left:calc(50% + 50px);}
	
	.summary_board .summary_body .tabcon > ul li a{padding: var(--hf-padding-5) 15px var(--hf-padding-5) 15px; border-radius:15px;}
	.summary_board .summary_body .tabcon > ul li a img{margin: 5px auto 0px auto;width: 55px;}
	.summary_board .summary_body .tabcon > ul li a span{font-size:14px; line-height:14px;}	
}




/* 하단 story 추가 20251020*/
.story{ margin-bottom:110px; background:#005eb8 url(../img/Story_bg.jpg) no-repeat center 0; padding:55px 98px 74px 98px;}
.story .story_tit{text-align: center; color:var(--hf-color-light-gray-0); margin-bottom:var(--hf-gap-6); }
.story .story_tit h2{font-weight:600;  font-size:var(--hf-font-size-display-small); margin-bottom:var(--hf-gap-4);}
.story .story_tit h2 span{position: relative;}
.story .story_tit h2 span:after{content:''; display:block; background:url(../img/main/msec2_bg.png) no-repeat 0 0; left:-70px; top:-75px; width:107px; height:118px; position: absolute;}
.story .story_tit .sub_memo{font-weight:400;  font-size:18px; color:var(--hf-color-light-gray-extended-10);}  

.Story_border {width:100%; background:rgba(0,0,0,0.msec2);}
.Story_border > div {position:relative;}
.Story_border .tab {color:#94bde4; display:inline-block; font-size:20px; font-weight:600; line-height:55px; text-align:center; border-radius:30px;}
.Story_border .tab.active {color:var(--hf-color-light-gray-0);}
.Story_border .tab.active:after{content:''; display:block; left:0px; bottom:0; width:100%; height:5px; position: absolute; background:#5bd196;}
.Story_border .tab.active span{position: relative;}
.Story_border .tabcon {display:none; padding:90px 0 0 0; width:100%;position: relative;
padding: var(--hf-padding-10) 0 50px 0;
max-width: 1360px;
margin: 0 auto;
}
.Story_border .tabcon.active {display:block;}
.Story_border .tab.t01 {position:absolute; top:0; left:calc(50% - 150px);}
.Story_border .tab.t02 {position:absolute; top:0; left:calc(50% - 45px);}
.Story_border .tab.t03 {position:absolute; top:0; left:calc(50% + 80px);}
.Story_border .tabcon {overflow:hidden; width:100%; }
.Story_border .tabcon > ul {margin:0 -21px;}
.Story_border .tabcon > ul li {position: relative; float:left; width:calc(33.3% - 42px); margin:0 21px; min-height:298px; background:var(--hf-color-surface-white);}
.Story_border .tabcon > ul li a{display:block; }
.Story_border .tabcon > ul li .img{width:100%; height:202px;}
.Story_border .tabcon > ul li .img img{width:100%; height:202px;}
.Story_border .tabcon > ul li .text{color:var(--hf-color-light-gray-80); font-size:21px; font-weight: 500; text-align: center; line-height:25px; padding:var(--hf-padding-7) 43px;     }
.Story_border .tabcon > ul li .text span{height:var(--hf-number-16);  align-items: center;  justify-content: space-around; display: flex;}
.Story_border .tabcon > ul li:last-child{margin-bottom:0px;}
.Story_border .tabcon a.border-btn{position:absolute; top:-50px;  right:0px; width:52px; height:52px; border:var(--hf-border-width-static-regular) solid var(--hf-color-light-gray-0); border-radius:50%; text-align: center; font-size:30px; line-height:52px; color:var(--hf-color-light-gray-0);}
    
.Story_border ul.slick-dots{ margin: 30px auto 0 auto; width:100px}
.Story_border ul.slick-dots li{min-height:15px; height:15px; width:15px; margin:0; background:none; margin-right:var(--hf-number-6);}
.Story_border ul.slick-dots li button{width:15px; height:15px; z-index:10; text-indent:-9999px; background-color:#6599cb; border-radius:50%; vertical-align:top;}
.Story_border ul.slick-dots li.slick-active  button {background-color:#c8d937; margin-right:var(--hf-number-6); }


@media (max-width: 1150px){
	.story{padding:55px var(--hf-padding-7) 120px var(--hf-padding-7);}
	.story .Story_border{padding:0 var(--hf-padding-10);}
	
	.Story_border .tab{line-height:40px;}
	.Story_border .tabcon{padding: 60px 0 0 0;}
	.Story_border .tabcon a.border-btn{ bottom: -75px;   top: auto;   right: 50%;   margin-right: -26px;}
	
	.Story_border .tab.t01 {position:absolute; top:0; left:0;}
	.Story_border .tab.t02 {position:absolute; top:0; left:calc(50% - 72px);}
	.Story_border .tab.t03 {position:absolute; top:0; left:auto; right: 0;}

	.Story_border ul.slick-dots li:last-child{margin-right:0px;}
}

@media (max-width: 1023px){
	.story{margin-bottom:70px;}
	.Story_border ul.slick-dots {width:65px;}
}

@media (max-width: 768px){
	.story .Story_border{padding:0 var(--hf-padding-7);}
	.Story_border .tabcon > ul li .text{padding:var(--hf-padding-7); font-size:16px;}
	.Story_border .tabcon > ul li, .Story_border .tabcon > ul{margin:0;}
	.Story_border ul.slick-dots li{margin-right:var(--hf-number-6);}
	.Story_border .tabcon > ul li{min-height:none;}
}